/*
Devdraft AI Payment & Business Management API

 A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package devdraft

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CustomersAPIService CustomersAPI service
type CustomersAPIService service

type ApiCustomerControllerCreateRequest struct {
	ctx context.Context
	ApiService *CustomersAPIService
	createCustomerDto *CreateCustomerDto
}

// Customer creation data
func (r ApiCustomerControllerCreateRequest) CreateCustomerDto(createCustomerDto CreateCustomerDto) ApiCustomerControllerCreateRequest {
	r.createCustomerDto = &createCustomerDto
	return r
}

func (r ApiCustomerControllerCreateRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomerControllerCreateExecute(r)
}

/*
CustomerControllerCreate Create a new customer

Creates a new customer in the system with their personal and contact information.
    
This endpoint allows you to register new customers and store their details for future transactions.

## Use Cases
- Register new customers for payment processing
- Store customer information for recurring payments
- Maintain customer profiles for transaction history

## Example: Create New Customer
```json
{
  "first_name": "John",
  "last_name": "Doe",
  "email": "john.doe@example.com",
  "phone_number": "+1-555-123-4567",
  "customer_type": "Startup",
  "status": "ACTIVE"
}
```

## Required Fields
- `first_name`: Customer's first name (1-100 characters)
- `last_name`: Customer's last name (1-100 characters)
- `phone_number`: Customer's phone number (max 20 characters)

## Optional Fields
- `email`: Valid email address (max 255 characters)
- `customer_type`: Type of customer account (Individual, Startup, Small Business, Medium Business, Enterprise, Non-Profit, Government)
- `status`: Customer status (ACTIVE, BLACKLISTED, DEACTIVATED)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomerControllerCreateRequest
*/
func (a *CustomersAPIService) CustomerControllerCreate(ctx context.Context) ApiCustomerControllerCreateRequest {
	return ApiCustomerControllerCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CustomersAPIService) CustomerControllerCreateExecute(r ApiCustomerControllerCreateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIService.CustomerControllerCreate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/customers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createCustomerDto == nil {
		return nil, reportError("createCustomerDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createCustomerDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCustomerControllerFindAllRequest struct {
	ctx context.Context
	ApiService *CustomersAPIService
	skip *float32
	take *float32
	status *CustomerStatus
	name *string
	email *string
}

// Number of records to skip for pagination
func (r ApiCustomerControllerFindAllRequest) Skip(skip float32) ApiCustomerControllerFindAllRequest {
	r.skip = &skip
	return r
}

// Number of records to return (max 100)
func (r ApiCustomerControllerFindAllRequest) Take(take float32) ApiCustomerControllerFindAllRequest {
	r.take = &take
	return r
}

// Filter customers by status
func (r ApiCustomerControllerFindAllRequest) Status(status CustomerStatus) ApiCustomerControllerFindAllRequest {
	r.status = &status
	return r
}

// Filter customers by name (partial match, case-insensitive)
func (r ApiCustomerControllerFindAllRequest) Name(name string) ApiCustomerControllerFindAllRequest {
	r.name = &name
	return r
}

// Filter customers by email (exact match, case-insensitive)
func (r ApiCustomerControllerFindAllRequest) Email(email string) ApiCustomerControllerFindAllRequest {
	r.email = &email
	return r
}

func (r ApiCustomerControllerFindAllRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomerControllerFindAllExecute(r)
}

/*
CustomerControllerFindAll Get all customers with filters

Retrieves a list of customers with optional filtering and pagination.
    
This endpoint allows you to search and filter customers based on various criteria.

## Use Cases
- List all customers with pagination
- Search customers by name or email
- Filter customers by status
- Export customer data

## Query Parameters
- `skip`: Number of records to skip (default: 0, min: 0)
- `take`: Number of records to take (default: 10, min: 1, max: 100)
- `status`: Filter by customer status (ACTIVE, BLACKLISTED, DEACTIVATED)
- `name`: Filter by customer name (partial match, case-insensitive)
- `email`: Filter by customer email (exact match, case-insensitive)

## Example Request
`GET /api/v0/customers?skip=0&take=20&status=ACTIVE&name=John`

## Example Response
```json
{
  "data": [
    {
      "id": "cust_123456",
      "first_name": "John",
      "last_name": "Doe",
      "email": "john.doe@example.com",
      "phone_number": "+1-555-123-4567",
      "customer_type": "Startup",
      "status": "ACTIVE",
      "created_at": "2024-03-20T10:00:00Z",
      "updated_at": "2024-03-20T10:00:00Z"
    }
  ],
  "total": 100,
  "skip": 0,
  "take": 10
}
```

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomerControllerFindAllRequest
*/
func (a *CustomersAPIService) CustomerControllerFindAll(ctx context.Context) ApiCustomerControllerFindAllRequest {
	return ApiCustomerControllerFindAllRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CustomersAPIService) CustomerControllerFindAllExecute(r ApiCustomerControllerFindAllRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIService.CustomerControllerFindAll")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/customers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	} else {
        var defaultValue float32 = 0
        parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "form", "")
        r.skip = &defaultValue
	}
	if r.take != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "take", r.take, "form", "")
	} else {
        var defaultValue float32 = 10
        parameterAddToHeaderOrQuery(localVarQueryParams, "take", defaultValue, "form", "")
        r.take = &defaultValue
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCustomerControllerFindOneRequest struct {
	ctx context.Context
	ApiService *CustomersAPIService
	id string
}

func (r ApiCustomerControllerFindOneRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomerControllerFindOneExecute(r)
}

/*
CustomerControllerFindOne Get a customer by ID

Retrieves detailed information about a specific customer.
    
This endpoint allows you to fetch complete customer details including their contact information and status.

## Use Cases
- View customer details
- Verify customer information
- Check customer status before processing payments

## Path Parameters
- `id`: Customer UUID (required) - Must be a valid UUID format

## Example Request
`GET /api/v0/customers/123e4567-e89b-12d3-a456-426614174000`

## Example Response
```json
{
  "id": "cust_123456",
  "first_name": "John",
  "last_name": "Doe",
  "email": "john.doe@example.com",
  "phone_number": "+1-555-123-4567",
  "customer_type": "Enterprise",
  "status": "ACTIVE",
  "last_spent": 1250.50,
  "last_purchase_date": "2024-03-15T14:30:00Z",
  "created_at": "2024-03-20T10:00:00Z",
  "updated_at": "2024-03-20T10:00:00Z"
}
```

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Customer unique identifier (UUID)
 @return ApiCustomerControllerFindOneRequest
*/
func (a *CustomersAPIService) CustomerControllerFindOne(ctx context.Context, id string) ApiCustomerControllerFindOneRequest {
	return ApiCustomerControllerFindOneRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *CustomersAPIService) CustomerControllerFindOneExecute(r ApiCustomerControllerFindOneRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIService.CustomerControllerFindOne")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/customers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCustomerControllerUpdateRequest struct {
	ctx context.Context
	ApiService *CustomersAPIService
	id string
	updateCustomerDto *UpdateCustomerDto
}

// Customer update data
func (r ApiCustomerControllerUpdateRequest) UpdateCustomerDto(updateCustomerDto UpdateCustomerDto) ApiCustomerControllerUpdateRequest {
	r.updateCustomerDto = &updateCustomerDto
	return r
}

func (r ApiCustomerControllerUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomerControllerUpdateExecute(r)
}

/*
CustomerControllerUpdate Update a customer

Updates an existing customer's information.
    
This endpoint allows you to modify customer details while preserving their core information.

## Use Cases
- Update customer contact information
- Change customer type
- Modify customer status

## Path Parameters
- `id`: Customer UUID (required) - Must be a valid UUID format

## Example Request
`PATCH /api/v0/customers/123e4567-e89b-12d3-a456-426614174000`

## Example Request Body
```json
{
  "first_name": "John",
  "last_name": "Smith",
  "phone_number": "+1-987-654-3210",
  "customer_type": "Small Business"
}
```

## Notes
- Only include fields that need to be updated
- All fields are optional in updates
- Status changes may require additional verification

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Customer unique identifier (UUID)
 @return ApiCustomerControllerUpdateRequest
*/
func (a *CustomersAPIService) CustomerControllerUpdate(ctx context.Context, id string) ApiCustomerControllerUpdateRequest {
	return ApiCustomerControllerUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *CustomersAPIService) CustomerControllerUpdateExecute(r ApiCustomerControllerUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIService.CustomerControllerUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/customers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateCustomerDto == nil {
		return nil, reportError("updateCustomerDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateCustomerDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
