/*
Devdraft AI Payment & Business Management API

 A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package devdraft

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ExchangeRatesAPIService ExchangeRatesAPI service
type ExchangeRatesAPIService service

type ApiExchangeRateControllerGetEURToUSDRateRequest struct {
	ctx context.Context
	ApiService *ExchangeRatesAPIService
}

func (r ApiExchangeRateControllerGetEURToUSDRateRequest) Execute() (*ExchangeRateResponseDto, *http.Response, error) {
	return r.ApiService.ExchangeRateControllerGetEURToUSDRateExecute(r)
}

/*
ExchangeRateControllerGetEURToUSDRate Get EUR to USD exchange rate

Retrieves the current exchange rate for converting EUR to USD (EURC to USDC).
    
This endpoint provides real-time exchange rate information for stablecoin conversions:
- Mid-market rate for reference pricing
- Buy rate for actual conversion calculations
- Sell rate for reverse conversion scenarios

## Use Cases
- Display current exchange rates in dashboards
- Calculate conversion amounts for EURC to USDC transfers
- Financial reporting and analytics
- Real-time pricing for multi-currency operations

## Rate Information
- **Mid-market rate**: The theoretical middle rate between buy and sell
- **Buy rate**: Rate used when converting FROM EUR TO USD (what you get)
- **Sell rate**: Rate used when converting FROM USD TO EUR (what you pay)

The rates are updated in real-time and reflect current market conditions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExchangeRateControllerGetEURToUSDRateRequest
*/
func (a *ExchangeRatesAPIService) ExchangeRateControllerGetEURToUSDRate(ctx context.Context) ApiExchangeRateControllerGetEURToUSDRateRequest {
	return ApiExchangeRateControllerGetEURToUSDRateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExchangeRateResponseDto
func (a *ExchangeRatesAPIService) ExchangeRateControllerGetEURToUSDRateExecute(r ApiExchangeRateControllerGetEURToUSDRateRequest) (*ExchangeRateResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExchangeRateResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExchangeRatesAPIService.ExchangeRateControllerGetEURToUSDRate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/exchange-rate/eur-to-usd"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExchangeRateControllerGetExchangeRateRequest struct {
	ctx context.Context
	ApiService *ExchangeRatesAPIService
	from *string
	to *string
}

// Source currency code (e.g., usd)
func (r ApiExchangeRateControllerGetExchangeRateRequest) From(from string) ApiExchangeRateControllerGetExchangeRateRequest {
	r.from = &from
	return r
}

// Target currency code (e.g., eur)
func (r ApiExchangeRateControllerGetExchangeRateRequest) To(to string) ApiExchangeRateControllerGetExchangeRateRequest {
	r.to = &to
	return r
}

func (r ApiExchangeRateControllerGetExchangeRateRequest) Execute() (*ExchangeRateResponseDto, *http.Response, error) {
	return r.ApiService.ExchangeRateControllerGetExchangeRateExecute(r)
}

/*
ExchangeRateControllerGetExchangeRate Get exchange rate between specified currencies

Retrieves the current exchange rate between two specified currencies.
    
This flexible endpoint allows you to get exchange rates for any supported currency pair:
- Supports USD and EUR currency codes
- Provides comprehensive rate information
- Real-time market data

## Supported Currency Pairs
- USD to EUR (USDC to EURC)
- EUR to USD (EURC to USDC)

## Query Parameters
- **from**: Source currency code (usd, eur)
- **to**: Target currency code (usd, eur)

## Use Cases
- Flexible exchange rate queries
- Multi-currency application support
- Dynamic currency conversion calculations
- Financial analytics and reporting

## Rate Information
All rates are provided with full market context including mid-market, buy, and sell rates.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExchangeRateControllerGetExchangeRateRequest
*/
func (a *ExchangeRatesAPIService) ExchangeRateControllerGetExchangeRate(ctx context.Context) ApiExchangeRateControllerGetExchangeRateRequest {
	return ApiExchangeRateControllerGetExchangeRateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExchangeRateResponseDto
func (a *ExchangeRatesAPIService) ExchangeRateControllerGetExchangeRateExecute(r ApiExchangeRateControllerGetExchangeRateRequest) (*ExchangeRateResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExchangeRateResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExchangeRatesAPIService.ExchangeRateControllerGetExchangeRate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/exchange-rate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiExchangeRateControllerGetUSDToEURRateRequest struct {
	ctx context.Context
	ApiService *ExchangeRatesAPIService
}

func (r ApiExchangeRateControllerGetUSDToEURRateRequest) Execute() (*ExchangeRateResponseDto, *http.Response, error) {
	return r.ApiService.ExchangeRateControllerGetUSDToEURRateExecute(r)
}

/*
ExchangeRateControllerGetUSDToEURRate Get USD to EUR exchange rate

Retrieves the current exchange rate for converting USD to EUR (USDC to EURC).
    
This endpoint provides real-time exchange rate information for stablecoin conversions:
- Mid-market rate for reference pricing
- Buy rate for actual conversion calculations
- Sell rate for reverse conversion scenarios

## Use Cases
- Display current exchange rates in dashboards
- Calculate conversion amounts for USDC to EURC transfers
- Financial reporting and analytics
- Real-time pricing for multi-currency operations

## Rate Information
- **Mid-market rate**: The theoretical middle rate between buy and sell
- **Buy rate**: Rate used when converting FROM USD TO EUR (what you get)
- **Sell rate**: Rate used when converting FROM EUR TO USD (what you pay)

The rates are updated in real-time and reflect current market conditions.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiExchangeRateControllerGetUSDToEURRateRequest
*/
func (a *ExchangeRatesAPIService) ExchangeRateControllerGetUSDToEURRate(ctx context.Context) ApiExchangeRateControllerGetUSDToEURRateRequest {
	return ApiExchangeRateControllerGetUSDToEURRateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ExchangeRateResponseDto
func (a *ExchangeRatesAPIService) ExchangeRateControllerGetUSDToEURRateExecute(r ApiExchangeRateControllerGetUSDToEURRateRequest) (*ExchangeRateResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExchangeRateResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExchangeRatesAPIService.ExchangeRateControllerGetUSDToEURRate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/exchange-rate/usd-to-eur"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
