/*
Devdraft AI Payment & Business Management API

 A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package devdraft

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProductsAPIService ProductsAPI service
type ProductsAPIService service

type ApiProductControllerCreateRequest struct {
	ctx context.Context
	ApiService *ProductsAPIService
	name *string
	description *string
	price *float32
	currency *string
	type_ *string
	weight *float32
	unit *string
	quantity *float32
	stockCount *float32
	status *string
	productType *string
	images *[]string
}

// Product name as it will appear to customers. Should be clear and descriptive.
func (r ApiProductControllerCreateRequest) Name(name string) ApiProductControllerCreateRequest {
	r.name = &name
	return r
}

// Detailed description of the product. Supports markdown formatting for rich text display.
func (r ApiProductControllerCreateRequest) Description(description string) ApiProductControllerCreateRequest {
	r.description = &description
	return r
}

// Product price in the specified currency. Must be greater than 0.
func (r ApiProductControllerCreateRequest) Price(price float32) ApiProductControllerCreateRequest {
	r.price = &price
	return r
}

// Currency code for the price. Defaults to USD if not specified.
func (r ApiProductControllerCreateRequest) Currency(currency string) ApiProductControllerCreateRequest {
	r.currency = &currency
	return r
}

// Product type
func (r ApiProductControllerCreateRequest) Type_(type_ string) ApiProductControllerCreateRequest {
	r.type_ = &type_
	return r
}

// Weight of the product
func (r ApiProductControllerCreateRequest) Weight(weight float32) ApiProductControllerCreateRequest {
	r.weight = &weight
	return r
}

// Unit of measurement
func (r ApiProductControllerCreateRequest) Unit(unit string) ApiProductControllerCreateRequest {
	r.unit = &unit
	return r
}

// Quantity available
func (r ApiProductControllerCreateRequest) Quantity(quantity float32) ApiProductControllerCreateRequest {
	r.quantity = &quantity
	return r
}

// Stock count
func (r ApiProductControllerCreateRequest) StockCount(stockCount float32) ApiProductControllerCreateRequest {
	r.stockCount = &stockCount
	return r
}

// Product status
func (r ApiProductControllerCreateRequest) Status(status string) ApiProductControllerCreateRequest {
	r.status = &status
	return r
}

// Product type
func (r ApiProductControllerCreateRequest) ProductType(productType string) ApiProductControllerCreateRequest {
	r.productType = &productType
	return r
}

// Array of image URLs
func (r ApiProductControllerCreateRequest) Images(images []string) ApiProductControllerCreateRequest {
	r.images = &images
	return r
}

func (r ApiProductControllerCreateRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProductControllerCreateExecute(r)
}

/*
ProductControllerCreate Create a new product

Creates a new product with optional image uploads.
    
This endpoint allows you to create products with detailed information and multiple images.

## Use Cases
- Add new products to your catalog
- Create products with multiple images
- Set up product pricing and descriptions

## Supported Image Formats
- JPEG/JPG
- PNG
- WebP
- Maximum 10 images per product
- Maximum file size: 5MB per image

## Example Request (multipart/form-data)
```
name: "Premium Widget"
description: "High-quality widget for all your needs"
price: "99.99"
images: [file1.jpg, file2.jpg]  // Optional, up to 10 images
```

## Required Fields
- `name`: Product name
- `price`: Product price (decimal number)

## Optional Fields
- `description`: Detailed product description
- `images`: Product images (up to 10 files)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProductControllerCreateRequest
*/
func (a *ProductsAPIService) ProductControllerCreate(ctx context.Context) ApiProductControllerCreateRequest {
	return ApiProductControllerCreateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ProductsAPIService) ProductControllerCreateExecute(r ApiProductControllerCreateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsAPIService.ProductControllerCreate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/products"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return nil, reportError("name is required and must be specified")
	}
	if strlen(*r.name) < 1 {
		return nil, reportError("name must have at least 1 elements")
	}
	if strlen(*r.name) > 200 {
		return nil, reportError("name must have less than 200 elements")
	}
	if r.description == nil {
		return nil, reportError("description is required and must be specified")
	}
	if strlen(*r.description) > 2000 {
		return nil, reportError("description must have less than 2000 elements")
	}
	if r.price == nil {
		return nil, reportError("price is required and must be specified")
	}
	if *r.price < 0.01 {
		return nil, reportError("price must be greater than 0.01")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "description", r.description, "", "")
	parameterAddToHeaderOrQuery(localVarFormParams, "price", r.price, "", "")
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "currency", r.currency, "", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	}
	if r.weight != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "weight", r.weight, "", "")
	}
	if r.unit != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "unit", r.unit, "", "")
	}
	if r.quantity != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "quantity", r.quantity, "", "")
	}
	if r.stockCount != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "stockCount", r.stockCount, "", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "status", r.status, "", "")
	}
	if r.productType != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "productType", r.productType, "", "")
	}
	if r.images != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "images", r.images, "", "csv")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiProductControllerFindAllRequest struct {
	ctx context.Context
	ApiService *ProductsAPIService
	skip *float32
	take *float32
}

// Number of records to skip
func (r ApiProductControllerFindAllRequest) Skip(skip float32) ApiProductControllerFindAllRequest {
	r.skip = &skip
	return r
}

// Number of records to take
func (r ApiProductControllerFindAllRequest) Take(take float32) ApiProductControllerFindAllRequest {
	r.take = &take
	return r
}

func (r ApiProductControllerFindAllRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProductControllerFindAllExecute(r)
}

/*
ProductControllerFindAll Get all products

Retrieves a list of products with pagination.
    
This endpoint allows you to fetch products with optional pagination.

## Use Cases
- List all products
- Browse product catalog
- Implement product search

## Query Parameters
- `skip`: Number of records to skip (default: 0)
- `take`: Number of records to take (default: 10)

## Example Response
```json
{
  "data": [
    {
      "id": "prod_123456",
      "name": "Premium Widget",
      "description": "High-quality widget for all your needs",
      "price": "99.99",
      "images": [
        "https://storage.example.com/images/file1.jpg",
        "https://storage.example.com/images/file2.jpg"
      ],
      "createdAt": "2024-03-20T10:00:00Z"
    }
  ],
  "total": 100,
  "skip": 0,
  "take": 10
}
```

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProductControllerFindAllRequest
*/
func (a *ProductsAPIService) ProductControllerFindAll(ctx context.Context) ApiProductControllerFindAllRequest {
	return ApiProductControllerFindAllRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *ProductsAPIService) ProductControllerFindAllExecute(r ApiProductControllerFindAllRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsAPIService.ProductControllerFindAll")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/products"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "form", "")
	}
	if r.take != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "take", r.take, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiProductControllerFindOneRequest struct {
	ctx context.Context
	ApiService *ProductsAPIService
	id string
}

func (r ApiProductControllerFindOneRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProductControllerFindOneExecute(r)
}

/*
ProductControllerFindOne Get a product by ID

Retrieves detailed information about a specific product.
    
This endpoint allows you to fetch complete product details including all images.

## Use Cases
- View product details
- Display product information
- Check product availability

## Example Response
```json
{
  "id": "prod_123456",
  "name": "Premium Widget",
  "description": "High-quality widget for all your needs",
  "price": "99.99",
  "images": [
    "https://storage.example.com/images/file1.jpg",
    "https://storage.example.com/images/file2.jpg"
  ],
  "createdAt": "2024-03-20T10:00:00Z",
  "updatedAt": "2024-03-20T10:00:00Z"
}
```

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Product ID
 @return ApiProductControllerFindOneRequest
*/
func (a *ProductsAPIService) ProductControllerFindOne(ctx context.Context, id string) ApiProductControllerFindOneRequest {
	return ApiProductControllerFindOneRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ProductsAPIService) ProductControllerFindOneExecute(r ApiProductControllerFindOneRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsAPIService.ProductControllerFindOne")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/products/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiProductControllerRemoveRequest struct {
	ctx context.Context
	ApiService *ProductsAPIService
	id string
}

func (r ApiProductControllerRemoveRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProductControllerRemoveExecute(r)
}

/*
ProductControllerRemove Delete a product

Deletes a product and its associated images.
    
This endpoint allows you to remove a product and all its associated data.

## Use Cases
- Remove discontinued products
- Clean up product catalog
- Delete test products

## Notes
- This action cannot be undone
- All product images will be deleted
- Associated data will be removed

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Product ID
 @return ApiProductControllerRemoveRequest
*/
func (a *ProductsAPIService) ProductControllerRemove(ctx context.Context, id string) ApiProductControllerRemoveRequest {
	return ApiProductControllerRemoveRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ProductsAPIService) ProductControllerRemoveExecute(r ApiProductControllerRemoveRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsAPIService.ProductControllerRemove")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/products/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiProductControllerUpdateRequest struct {
	ctx context.Context
	ApiService *ProductsAPIService
	id string
	name *string
	description *string
	price *float32
	currency *string
	type_ *string
	weight *float32
	unit *string
	quantity *float32
	stockCount *float32
	status *string
	productType *string
	images *[]string
}

// Product name as it will appear to customers. Should be clear and descriptive.
func (r ApiProductControllerUpdateRequest) Name(name string) ApiProductControllerUpdateRequest {
	r.name = &name
	return r
}

// Detailed description of the product. Supports markdown formatting for rich text display.
func (r ApiProductControllerUpdateRequest) Description(description string) ApiProductControllerUpdateRequest {
	r.description = &description
	return r
}

// Product price in the specified currency. Must be greater than 0.
func (r ApiProductControllerUpdateRequest) Price(price float32) ApiProductControllerUpdateRequest {
	r.price = &price
	return r
}

// Currency code for the price. Defaults to USD if not specified.
func (r ApiProductControllerUpdateRequest) Currency(currency string) ApiProductControllerUpdateRequest {
	r.currency = &currency
	return r
}

// Product type
func (r ApiProductControllerUpdateRequest) Type_(type_ string) ApiProductControllerUpdateRequest {
	r.type_ = &type_
	return r
}

// Weight of the product
func (r ApiProductControllerUpdateRequest) Weight(weight float32) ApiProductControllerUpdateRequest {
	r.weight = &weight
	return r
}

// Unit of measurement
func (r ApiProductControllerUpdateRequest) Unit(unit string) ApiProductControllerUpdateRequest {
	r.unit = &unit
	return r
}

// Quantity available
func (r ApiProductControllerUpdateRequest) Quantity(quantity float32) ApiProductControllerUpdateRequest {
	r.quantity = &quantity
	return r
}

// Stock count
func (r ApiProductControllerUpdateRequest) StockCount(stockCount float32) ApiProductControllerUpdateRequest {
	r.stockCount = &stockCount
	return r
}

// Product status
func (r ApiProductControllerUpdateRequest) Status(status string) ApiProductControllerUpdateRequest {
	r.status = &status
	return r
}

// Product type
func (r ApiProductControllerUpdateRequest) ProductType(productType string) ApiProductControllerUpdateRequest {
	r.productType = &productType
	return r
}

// Array of image URLs
func (r ApiProductControllerUpdateRequest) Images(images []string) ApiProductControllerUpdateRequest {
	r.images = &images
	return r
}

func (r ApiProductControllerUpdateRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProductControllerUpdateExecute(r)
}

/*
ProductControllerUpdate Update a product

Updates an existing product's information and optionally adds new images.
    
This endpoint allows you to modify product details and manage product images.

## Use Cases
- Update product information
- Change product pricing
- Modify product images
- Update product description

## Example Request (multipart/form-data)
```
name: "Updated Premium Widget"
description: "Updated description"
price: "129.99"
images: [file1.jpg, file2.jpg]  // Optional, up to 10 images
```

## Notes
- Only include fields that need to be updated
- New images will replace existing images
- Maximum 10 images per product
- Images are automatically optimized

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Product ID
 @return ApiProductControllerUpdateRequest
*/
func (a *ProductsAPIService) ProductControllerUpdate(ctx context.Context, id string) ApiProductControllerUpdateRequest {
	return ApiProductControllerUpdateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ProductsAPIService) ProductControllerUpdateExecute(r ApiProductControllerUpdateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsAPIService.ProductControllerUpdate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/products/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "description", r.description, "", "")
	}
	if r.price != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "price", r.price, "", "")
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "currency", r.currency, "", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	}
	if r.weight != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "weight", r.weight, "", "")
	}
	if r.unit != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "unit", r.unit, "", "")
	}
	if r.quantity != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "quantity", r.quantity, "", "")
	}
	if r.stockCount != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "stockCount", r.stockCount, "", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "status", r.status, "", "")
	}
	if r.productType != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "productType", r.productType, "", "")
	}
	if r.images != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "images", r.images, "", "csv")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiProductControllerUploadImageRequest struct {
	ctx context.Context
	ApiService *ProductsAPIService
	id string
}

func (r ApiProductControllerUploadImageRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProductControllerUploadImageExecute(r)
}

/*
ProductControllerUploadImage Upload images for a product

Adds new images to an existing product.
    
This endpoint allows you to upload additional images for a product that already exists.

## Use Cases
- Add more product images
- Update product gallery
- Enhance product presentation

## Supported Image Formats
- JPEG/JPG
- PNG
- WebP
- Maximum 10 images per upload
- Maximum file size: 5MB per image

## Example Request (multipart/form-data)
```
images: [file1.jpg, file2.jpg]  // Up to 10 images
```

## Notes
- Images are appended to existing product images
- Total images per product cannot exceed 10
- Images are automatically optimized and resized

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Product ID
 @return ApiProductControllerUploadImageRequest
*/
func (a *ProductsAPIService) ProductControllerUploadImage(ctx context.Context, id string) ApiProductControllerUploadImageRequest {
	return ApiProductControllerUploadImageRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ProductsAPIService) ProductControllerUploadImageExecute(r ApiProductControllerUploadImageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductsAPIService.ProductControllerUploadImage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/products/{id}/images"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-secret"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-secret"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["x-client-key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-client-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
