/*
Devdraft AI Payment & Business Management API

 A comprehensive payment processing and business management API that enables seamless integration of cryptocurrency and traditional payment methods.     

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package devdraft

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// LiquidationAddressesAPIService LiquidationAddressesAPI service
type LiquidationAddressesAPIService service

type ApiLiquidationAddressControllerCreateLiquidationAddressRequest struct {
	ctx context.Context
	ApiService *LiquidationAddressesAPIService
	customerId string
	createLiquidationAddressDto *CreateLiquidationAddressDto
}

func (r ApiLiquidationAddressControllerCreateLiquidationAddressRequest) CreateLiquidationAddressDto(createLiquidationAddressDto CreateLiquidationAddressDto) ApiLiquidationAddressControllerCreateLiquidationAddressRequest {
	r.createLiquidationAddressDto = &createLiquidationAddressDto
	return r
}

func (r ApiLiquidationAddressControllerCreateLiquidationAddressRequest) Execute() (*LiquidationAddressResponseDto, *http.Response, error) {
	return r.ApiService.LiquidationAddressControllerCreateLiquidationAddressExecute(r)
}

/*
LiquidationAddressControllerCreateLiquidationAddress Create a new liquidation address for a customer


      Create a new liquidation address for a customer. Liquidation addresses allow 
      customers to automatically liquidate cryptocurrency holdings to fiat or other 
      stablecoins based on configured parameters.

      **Required fields:**
      - chain: Blockchain network (ethereum, polygon, arbitrum, base)
      - currency: Stablecoin currency (usdc, eurc, dai, pyusd, usdt)
      - address: Valid blockchain address

      **At least one destination must be specified:**
      - external_account_id: External bank account
      - prefunded_account_id: Developer's prefunded account
      - bridge_wallet_id: Bridge wallet
      - destination_address: Crypto wallet address

      **Payment Rails:**
      Different payment rails have different requirements:
      - ACH: Requires external_account_id, supports destination_ach_reference
      - SEPA: Requires external_account_id, supports destination_sepa_reference
      - Wire: Requires external_account_id, supports destination_wire_message
      - Crypto: Requires destination_address, supports destination_blockchain_memo
    

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId Unique identifier for the customer
 @return ApiLiquidationAddressControllerCreateLiquidationAddressRequest
*/
func (a *LiquidationAddressesAPIService) LiquidationAddressControllerCreateLiquidationAddress(ctx context.Context, customerId string) ApiLiquidationAddressControllerCreateLiquidationAddressRequest {
	return ApiLiquidationAddressControllerCreateLiquidationAddressRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
	}
}

// Execute executes the request
//  @return LiquidationAddressResponseDto
func (a *LiquidationAddressesAPIService) LiquidationAddressControllerCreateLiquidationAddressExecute(r ApiLiquidationAddressControllerCreateLiquidationAddressRequest) (*LiquidationAddressResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LiquidationAddressResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiquidationAddressesAPIService.LiquidationAddressControllerCreateLiquidationAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/customers/{customerId}/liquidation_addresses"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createLiquidationAddressDto == nil {
		return localVarReturnValue, nil, reportError("createLiquidationAddressDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createLiquidationAddressDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLiquidationAddressControllerGetLiquidationAddressRequest struct {
	ctx context.Context
	ApiService *LiquidationAddressesAPIService
	customerId string
	liquidationAddressId string
}

func (r ApiLiquidationAddressControllerGetLiquidationAddressRequest) Execute() (*LiquidationAddressResponseDto, *http.Response, error) {
	return r.ApiService.LiquidationAddressControllerGetLiquidationAddressExecute(r)
}

/*
LiquidationAddressControllerGetLiquidationAddress Get a specific liquidation address

Retrieve a specific liquidation address by its ID for a given customer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId Unique identifier for the customer
 @param liquidationAddressId Unique identifier for the liquidation address
 @return ApiLiquidationAddressControllerGetLiquidationAddressRequest
*/
func (a *LiquidationAddressesAPIService) LiquidationAddressControllerGetLiquidationAddress(ctx context.Context, customerId string, liquidationAddressId string) ApiLiquidationAddressControllerGetLiquidationAddressRequest {
	return ApiLiquidationAddressControllerGetLiquidationAddressRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
		liquidationAddressId: liquidationAddressId,
	}
}

// Execute executes the request
//  @return LiquidationAddressResponseDto
func (a *LiquidationAddressesAPIService) LiquidationAddressControllerGetLiquidationAddressExecute(r ApiLiquidationAddressControllerGetLiquidationAddressRequest) (*LiquidationAddressResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LiquidationAddressResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiquidationAddressesAPIService.LiquidationAddressControllerGetLiquidationAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/customers/{customerId}/liquidation_addresses/{liquidationAddressId}"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"liquidationAddressId"+"}", url.PathEscape(parameterValueToString(r.liquidationAddressId, "liquidationAddressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLiquidationAddressControllerGetLiquidationAddressesRequest struct {
	ctx context.Context
	ApiService *LiquidationAddressesAPIService
	customerId string
}

func (r ApiLiquidationAddressControllerGetLiquidationAddressesRequest) Execute() ([]LiquidationAddressResponseDto, *http.Response, error) {
	return r.ApiService.LiquidationAddressControllerGetLiquidationAddressesExecute(r)
}

/*
LiquidationAddressControllerGetLiquidationAddresses Get all liquidation addresses for a customer

Retrieve all liquidation addresses associated with a specific customer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId Unique identifier for the customer
 @return ApiLiquidationAddressControllerGetLiquidationAddressesRequest
*/
func (a *LiquidationAddressesAPIService) LiquidationAddressControllerGetLiquidationAddresses(ctx context.Context, customerId string) ApiLiquidationAddressControllerGetLiquidationAddressesRequest {
	return ApiLiquidationAddressControllerGetLiquidationAddressesRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
	}
}

// Execute executes the request
//  @return []LiquidationAddressResponseDto
func (a *LiquidationAddressesAPIService) LiquidationAddressControllerGetLiquidationAddressesExecute(r ApiLiquidationAddressControllerGetLiquidationAddressesRequest) ([]LiquidationAddressResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []LiquidationAddressResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LiquidationAddressesAPIService.LiquidationAddressControllerGetLiquidationAddresses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v0/customers/{customerId}/liquidation_addresses"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
